<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% trans "Error 403" %}</title>
</head>
<body>
    <h1>{% trans "You definitely don't have access to this page..." %}</h1>
    <p>{% trans "If you are already logged in, you may need to contact the site administrator." %}</p>
    <p>
        {% trans "If you are not registered on the site, you are welcome:" %}
        <a href="/accounts/signup">{% trans "Register on the site" %}</a>
    </p>
    <p>
        {% trans "If you are not yet authorized on the site, we suggest you do this:" %}
        <a href="/accounts/login">{% trans "Authorize to the site" %}</a>
    </p>
</body>
</html>