<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <title>Ошибка 403</title>
</head>
<body>
    <h1>У Вас определённо нет доступа к данной странице...</h1>
    <p>В случае, если Вы уже авторизовались, возможно, стоит обратиться к администратору сайта.</p>
    <p>
        Если Вы не зарегистрированы на сайте, милости просим:
        <a href="/accounts/signup">Зарегистрироваться на сайте</a>
    </p>
    <p>
        Если Вы еще не авторизованы на сайте, предлагаем сделать это:
        <a href="/accounts/login">Авторизоваться на сайте</a>
    </p>
</body>
</html>