<!DOCTYPE html>
<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load i18n %}
<html lang="en">
<!--  загружаем пользовательские фильтры -->
{% load custom_filters %}
<!--  загружаем пользовательские тэги -->
{% load custom_tags %}
<!-- Название у нас будет News Search-->
{% block title %}
    News Search
{% endblock title %}

<!-- В контенте на странице мы выводим все новости/статьи -->
{% block content %}
    <h1>{% trans "News and articles" %}</h1>
    <h3>{% trans "Total news found:" %} {{ page_obj.paginator.count }}</h3>
    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>
    <hr>
    {% if news_search %}
        <table>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Publication date" %}</td>
                <td>{% trans "Preview" %}</td>
                {% if perms.news.change_post or perms.news.delete_post %}
                    <td>{% trans "Actions" %}</td>
                {% endif %}
            </tr>
            {% for post in news_search %}
            <tr>
                <td><a href="{% url 'post' post.id %}">{{ post.title|censor }}</a></td>
                <td>{{ post.add_date|date:'d.m.Y' }}</td>
                <td>{{ post.text|truncatechars:21|censor }}</td>
                <td>
                    {# Здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if request.user.is_staff %}
                        <a href="{% url 'post_update' post.id %}">{% trans "Change" %}</a>
                        <a href="{% url 'post_delete' post.id %}">{% trans "Delete" %}</a>
                    {% elif post.author.author == request.user %}
                        {% if perms.news.change_post %}
                            <a href="{% url 'post_update' post.id %}">{% trans "Change" %}</a>
                        {% endif %}
                        {% if perms.news.delete_post %}
                            <a href="{% url 'post_delete' post.id %}">{% trans "Delete" %}</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>{% trans "There are no news matching the specified search criteria!" %}</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            {% if page_obj.previous_page_number != 2 %}
                ...
            {% endif %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number  %}
            {% if paginator.num_pages|add:-1 != page_obj.next_page_number %}
                ...
            {% endif %}
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}
</html>