<!DOCTYPE html>
{% extends 'flatpages/default.html' %}

{% load i18n %}
<html lang="en">
{% block content %}
<h1>{% trans "Adding/changing news/article" %}</h1>
<hr>
<form action="" method="post">
    {% if post_limit %}
        {% trans "You can't publish more than three news per day!" %}
        <p>{% trans "Back to" %} <a href="{%  url 'news' %}">{% trans "news list" %}</a>.</p>
    {% else %}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save"/>
    {% endif %}
</form>
{% endblock content %}
</html>
